{% extends "layout.html" %}
{% block content %}

<section class="row">
    <div class="col-md-6">
        <button class="btn btn-outline-primary" onclick="location.href = '/vehiclesmanagefleet'">Manage Fleet Vehicles</button>
    
    </div>
    <div class="col-md-6">
        <button class="btn btn-outline-primary" onclick="location.href = 'vehiclesaddnew'">Add Fleet Vehicles</button>
    
    </div>

    {% block vehicle_content %}

    {% endblock vehicle_content %}

</section>


{% endblock %}
